<body class="sticky-header">
    <div id="main-container">
      <!-- PAGE CONTENT -->
      <div id="page-content">

        <div id="page-header" class="no-margin-bottom">

          <div class="ken-burn" style="background-image: url(<%= asset_path 'backgrounds/page-header-1.jpg' %>)"></div>

          <div class="container">
            <div class="row">
              <div class="col-sm-12">

                <h1>About Us</h1>

              </div><!-- col -->
            </div><!-- row -->
          </div><!-- container -->

        </div><!-- page-header -->

        <section class="full-section half-image" id="section-52">

          <div class="half-image-right" style="background-image: url(<%= asset_path 'about/image-1.jpg' %>)">

            <%= link_to(image_tag("about/image-1.jpg"), "/") %>

          </div><!-- half-image-right -->

          <div class="full-section-container">

            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-5">

                  <h2>Our Mission</h2>

                  <br>

                  <p>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed
                    imperdiet. Curabitur ultrices dolor magna, at ven enatis lacus rutrum nec. Quisque elit
                    velit, lacinia sit amet tellus at, auctor suscipit metus. Duis congue nibh at tortor ornare,
                    sed commo do ipsum mattis. Phasellus lacinia sed purus eget rhoncus.</p>

                  <br>

                </div><!-- col -->
              </div><!-- row -->
            </div><!-- container -->

          </div><!-- full-section-container -->
        </section><!-- full-section -->

        <section class="full-section half-image" id="section-53">

          <div class="half-image-left" style="background-image: url(<%= asset_path 'about/image-2.jpg' %>)">

            <%= link_to(image_tag("about/image-2.jpg"), "/") %>

          </div><!-- half-image-left -->

          <div class="full-section-container">

            <div class="container">
              <div class="row">
                <div class="col-lg-offset-7 col-md-offset-6 col-lg-5 col-md-6">

                  <h2>Our Vision</h2>

                  <br>

                  <p>Mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed imperdiet. Curabitur
                    ultrices dolor magna, at ven enatis lacus rutrum nec. Quisque elit velit, lacinia sit amet
                    tellus at, auctor suscipit metus. Duis congue nibh at tortor ornare, sed commo.</p>

                  <br>


                </div><!-- col -->
              </div><!-- row -->
            </div><!-- container -->

          </div><!-- full-section-container -->
        </section><!-- full-section -->
      </div><!-- PAGE CONTENT -->
    </div><!-- MAIN CONTAINER -->
    <a id="scroll-up" class="waves"><i class="fa fa-angle-up"></i></a>
</body>